* {
    padding: 0px;
    margin: 0px;
}
.clr
{
    clear: both;
}
.TC
{
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}
.TC h1
{
    font-size: 30px;
    color: #002147;
    font-weight: 700;
}
.TC p
{
    color: #666;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.mk3b
{
    height: 178px;
    width: 23.1%;
    border-radius: 5px;
    background-image: url(../images/1.jpg);
    background-size: cover;
    float: left;
    margin: 10px;
}
.klam
{
    padding-top: 17%;
    background-color: #337ab7;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.5s;

}
.klam:hover
{
    background-color: rgba(51, 122, 183, 0.7) ;

}
.klam p
{
    color: white;
}
.TC2
{
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.card
{
    margin: 10px;
    width: 31.3333%;
    float: left;
    text-align: center;
}
.card h4
{
    font-weight: 700;
}
.card p
{
    font-weight: 700;
    font-size: 16px;
 
    color: #6c757d!important;


    font-style: italic!important;
}
.imglay
{
    position: relative;

   
}
i
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 40.9%;
    text-align: center;
    
    
}

.imglay:hover i
{
    opacity: 100;
}
.ilay 
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease;
    background-color:#ffc107; ;  
}
.imglay:hover .ilay {
    opacity: 0.8;
  }
  
.navbar-light {
    background-color: #000;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
    color: #ec3237;
}

.navbar-light .navbar-nav .active > .nav-link .bord {
    border-bottom: 2.5px solid #ec3237;
    color: #ec3237;
    font-weight: 600;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    padding-bottom: 22px;
}

.home {

    background-image: url(../images/cover.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.layer h1 {
    font-weight: 700;
    font-size: 3.5em;
    color: #ffffff;
    text-shadow: 0px 5px 10px #af2424;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.layer h3 {
    color: #ffffff;
    padding: 0;
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    margin-bottom: 15px;
}

.layer a {
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

}


body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  
  
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  
  
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
  
  
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }
  
  
  @media screen and (min-width: 768px) {
    
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    
    .header {
      margin-bottom: 30px;
    }
    
    .jumbotron {
      border-bottom: 0;
    }
  }
  