* {
    padding: 0px;
    margin: 0px;
}

.navbar-light {
    background-color: #000;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
    color: #ec3237;
}

.navbar-light .navbar-nav .active > .nav-link .bord {
    border-bottom: 2.5px solid #ec3237;
    color: #ec3237;
    font-weight: 600;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    padding-bottom: 22px;
}

.home {

    background-image: url(../images/cover.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.layer h1 {
    font-weight: 700;
    font-size: 3.5em;
    color: #ffffff;
    text-shadow: 0px 5px 10px #af2424;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.layer h3 {
    color: #ffffff;
    padding: 0;
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    margin-bottom: 15px;
}

.layer a {
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

}


body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  
  
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  
  
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
  
  
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }
  
  
  @media screen and (min-width: 768px) {
    
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    
    .header {
      margin-bottom: 30px;
    }
    
    .jumbotron {
      border-bottom: 0;
    }
  }
  